<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenMelder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScreenMelder.Properties.Settings>
            <setting name="payloadPath" serializeAs="String">
                <value>config/payload.json</value>
            </setting>
            <setting name="configPath" serializeAs="String">
                <value>config/config.json</value>
            </setting>
        </ScreenMelder.Properties.Settings>
    </userSettings>
</configuration>